<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestió d'Usuaris</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>
        <h1>Gestió dels Usuaris per <%= user.name %>!</h1> 
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista d'Usuaris</h2>
            <ul class="product-list">
                <% data.Usuaris.forEach(usuari => { %>
                    <li class="product-item">
                        <strong>
                            <%= usuari.nom %> <%= usuari.cognom %>
                        </strong>
                        <span>Email: <%= usuari.email %></span>
                        <span>Tipus: <%= usuari.Tipus %></span>
                        <span><a href="/usuaris/<%= usuari.id %>" class="btn-formulario">Detalls de l'usuari</a>
                        <a href="/views/usuarisForm.html" class="btn-formulario">Modificar Recurso</a></span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>