<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detall de l'Usuari</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <header> 
        <h1>Gestió dels Usuaris per <%= user.name %>!</h1>
        <h2><a href="/usuaris">Volver a la lista de usuarios</a></h2>
    </header>
    <main>
        <section>
            <h2>Detalls de l'Usuari</h2>
            <ul class="product-list">
                <li class="product-item">
                    <strong>
                        <%= usuari.nom %> <%= usuari.cognom %>
                    </strong>
                    <span>Email: <%= usuari.email %></span>
                    <span>Tipus: <%= usuari.Tipus %></span>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>
